---
layout: farsi
---

<div
  style="display: inline-block; line-height: 2; font-size: 1.1em; max-width: 750px; font-weight: 400; word-wrap:break-word;">

  {% include share.html %}

  <div class="w3-row">

    <div class="w3-col m3">
      {{ page.date | jdate: "%d %b %Y" | replace: "0", "۰" | replace: "1", "۱" | replace: "2", "۲" | replace: "3", "۳" | replace: "4", "۴" | replace: "5", "۵" | replace: "6", "۶" | replace: "7", "۷" | replace: "8", "۸" | replace: "9", "۹" }}
    </div>

      <h2>
        {{ page.title }}
      </h2>

  </div>

  
  {{content}}
  
  <br>
  
  <p> {{ page.author }} </p>

  <br>

  {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      var disqus_config = function () {
      this.page.url = 'http://vahdati.info/vir/{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://vir-2.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}

</div>