<footer>

  <!-- <div class="wrapper"
    style="background-color: gainsboro; height: 5%; width: 100%; position: relative; margin-bottom: 0%; padding-left: 15%; padding-right: 15%"> -->

    <div class="w3-bar w3-light-blue w3-border w3-card-4" dir="rtl">
    <div class="w3-bar-item w3-button w3-mobile w3-hover-none w3-text-black w3-hover-text-white w3-right w3-hide-small">
      <a target="_blank" rel="noopener noreferrer" href="{{ site.url }}{{ site.baseurl }}/feedfa.xml " style="text-decoration: none;"> <img src="{{ site.url }}{{ site.baseurl }}/assets/img/icon-rss.png"
          style="width: 20px;"> </a>
    </div>
    </div>
  <!-- </div> -->
</footer>