<footer>

<div class="wrapper" style="background-color: gainsboro; height: 20%; width: 100%; position: relative; margin-bottom: 0%; padding-left: 15%; padding-right: 15%">

<div class="w3-row" >
  <div class="w3-col m6">
    <ul>
      <li>
        <p><a
            href="https://scholar.google.com/citations?hl=en&user=BOGPlUYAAAAJ&sortby=pubdate&view_op=list_works&gmla=AJsN-F7DDvCuRVXnZRbOSj-unnK38L023RC6o_6hzUMy4-qRcr9P5ubz8yx5GNgG6xiBjJauEApSv6Ywa4SJoI7pnNC0wteZbxTNBbzI0-BIBUWyZE35qG91Eo-HCpq43WQnNm8g68hD">Google
            scholar</a></p>
      </li>
      <li>
        <p><a
            href="https://github.com/kavir1698">Github</a>
        </p>
      </li>
      <li>
        <p><a
            href="https://www.linkedin.com/in/alirv/">Linkedin</a>
        </p>
      </li>
      <li>
        <p><a
            href="https://orcid.org/0000-0003-0895-1495">ORCID</a>
        </p>
      </li>
      <li>
        <p><a
            href="https://www.goodreads.com/user/show/12176303-ali">Goodreads</a>
        </p>
      </li>
    </ul>
  </div>
  <div class="w3-col m6">
    <ul>
      <li>
        <a href="https://www.instagram.com/farhadvhdt/">Instagram</a>
      </li>
      <li>
        <a href="http://bidarnameh.com"> مجله‌ی داستانی بیدار </a>
      </li>
      <li>
        <p>alirezaeev [at] gmail [dot] com</p>
      </li>
    </ul>
  </div>
  </div>

</div>
</footer>