<div class="w3-container container" style="background-color:silver">
  <div class="w3-col m4 column">
    <ul>
      <li>
        <p><a
            href="https://scholar.google.com/citations?hl=en&user=BOGPlUYAAAAJ&sortby=pubdate&view_op=list_works&gmla=AJsN-F7DDvCuRVXnZRbOSj-unnK38L023RC6o_6hzUMy4-qRcr9P5ubz8yx5GNgG6xiBjJauEApSv6Ywa4SJoI7pnNC0wteZbxTNBbzI0-BIBUWyZE35qG91Eo-HCpq43WQnNm8g68hD">Google
            scholar</a></p>
      </li>
      <li>
        <p><a href="https://github.com/kavir1698">Github</a>
        </p>
      </li>
      <li>
        <p><a href="https://www.linkedin.com/in/alirv/">Linkedin</a>
        </p>
      </li>
    </ul>
  </div>
  <div class="w3-col m4 column">
    <ul>
      <li>
        <p><a href="https://orcid.org/0000-0003-0895-1495">ORCID</a>
        </p>
      </li>
      <!-- <li>
        <p><a href="https://www.goodreads.com/user/show/12176303-ali">Goodreads</a>
        </p>
      </li> -->
    </ul>
  </div>
  <div class="w3-col m4 column">
    <ul>
      <!-- <li>
        <a href="https://www.instagram.com/farhadvdt/">Instagram</a>
      </li> -->
      <li>
        <a href="http://bidarnameh.com"> مجله‌ی داستانی بیدار </a>
      </li>
      <li>
        <p>farhad [at] vahdati [dot] info</p>
      </li>
    </ul>
  </div>
</div>