<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Connect</h3>
        <ul>
          <li><a href="https://scholar.google.com/citations?hl=en&user=BOGPlUYAAAAJ&sortby=pubdate&view_op=list_works&gmla=AJsN-F7DDvCuRVXnZRbOSj-unnK38L023RC6o_6hzUMy4-qRcr9P5ubz8yx5GNgG6xiBjJauEApSv6Ywa4SJoI7pnNC0wteZbxTNBbzI0-BIBUWyZE35qG91Eo-HCpq43WQnNm8g68hD" target="_blank" rel="noopener">Google Scholar</a></li>
          <li><a href="https://github.com/kavir1698" target="_blank" rel="noopener">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/alirv/" target="_blank" rel="noopener">LinkedIn</a></li>
          <li><a href="https://orcid.org/0000-0003-0895-1495" target="_blank" rel="noopener">ORCID</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Other</h3>
        <ul>
          <li><a href="http://bidarnameh.com" target="_blank" rel="noopener">مجله‌ی داستانی بیدار</a></li>
          <li><a href="mailto:farhad@vahdati.info">farhad@vahdati.info</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Navigation</h3>
        <ul>
          <li><a href="{{site.url}}{{site.baseurl}}/">Home</a></li>
          <li><a href="{{site.url}}{{site.baseurl}}/publications">Publications</a></li>
          <li><a href="{{site.url}}{{site.baseurl}}/teaching">Teaching</a></li>
          <li><a href="{{site.url}}{{site.baseurl}}/software">Software</a></li>
          <li><a href="{{site.url}}{{site.baseurl}}/vir">یادداشت‌ها</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ site.time | date: "%Y" }} Farhad Vahdati. All rights reserved.</p>
    </div>
  </div>
</footer>