<div class="w3-row">
  <div class="w3-col m3 w3-center">
    <h2><a href="{{site.url}}{{site.baseurl}}/" style="text-decoration: none;">Ali R. Vahdati</a></h2>
  </div>
    <div class="w3-col m9 w3-bar w3-light-grey" style="text-align: right">
      <a href="{{site.url}}{{site.baseurl}}/" class="w3-bar-item w3-button w3-hover-blue w3-mobile">Home</a>
      <a href="{{site.url}}{{site.baseurl}}/publications" class="w3-bar-item w3-button w3-hover-blue w3-mobile">Publications</a>
      <a href="{{site.url}}{{site.baseurl}}/teaching" class="w3-bar-item w3-button w3-hover-blue w3-mobile">Teaching</a>
      <a href="{{site.url}}{{site.baseurl}}/software" class="w3-bar-item w3-button w3-hover-blue w3-mobile">Software</a>
      <a href="{{site.url}}{{site.baseurl}}/edu" class="w3-bar-item w3-button w3-hover-blue w3-mobile">Experience</a>
      <a href="{{site.url}}{{site.baseurl}}/hobbies" class="w3-bar-item w3-button w3-hover-blue w3-mobile">Hobbies</a>
      <a href="{{site.url}}{{site.baseurl}}/vir" class="w3-bar-item w3-button w3-hover-blue w3-mobile">یادداشت‌ها</a>
  </div>
</div>
